@import '../styles/partials/config';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: font(secondary);
  font-size: 1rem;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: font(secondary);
}

// Primary Container
.primary-container {
  max-width: 1440px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px color(text-primary) inset !important;
}

/*Change text in autofill textbox*/
input:-webkit-autofill {
  -webkit-text-fill-color: color(primary-white) !important;
}
.text-grad-blue {
  background: linear-gradient(to right, #1e8af2, #05bed7);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

// Testimonials Card
.testimonial-card {
  .testimonial-img {
    display: none;
  }
  .swiper-slide-active {
    width: 50% !important;

    @include mobile{
      width: 100% !important;
    }

    .testimonial-img {
      display: block;
    }
  }
}

.mask1 svg {
  height: 472px;
  right: -15rem;
  position: absolute;
  top: 18vh;
  bottom: 0;

  @media only screen and (max-width: 1199px) {
    display: none;
  }
}

.bg-hero-pattern {
  height: calc(100dvh - 181px);

  @media only screen and (max-width: 1199px) {
    height: auto;
  }
}
